main {
	color: white;
	flex-basis: 50%;
    flex-shrink: 1;
    /* margin: 0px; */

    overflow: hidden;
	/* white-space: nowrap; */
    text-overflow: ellipsis;
    display: flex;
}

.choice {
    justify-content: center;
    flex: 1 1 auto;
    flex-flow: row;
    align-items: center;
    display: flex;
}

footer {
    text-align: center;
    margin-top: 5rem;
}



article h2, article p {
    margin: 0px;
    padding: 0.75rem;
    text-align: justify;
    width: 50%;
}

div a i {
    padding: 0.5rem;
}

@media (max-width: 62rem) {
    .choice {
        justify-content: center;
        flex: 1 1 auto;
        flex-flow: column;
        align-items: center;
        display: flex;       
    }
}