dialog {
    background: rgba(0, 0, 0, 0.65);
    color: white;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
    padding: 0;
    width: 100ch;
    max-width: 100vw;
    transition: all 0.5s ease;
    top: 20%;
    left: 0%;
    position: absolute;
    display: block;
}

@keyframes dialogOpen {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

dialog[open] {
    animation: dialogOpen 0.2s ease running;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
    animation: dialogOpen 0.2s ease running;
}

dialog h1 {
    text-align: center;
}

dialog form {
    display: flex;
    flex-flow: row;
    padding: 0;
    width: 100ch;
    max-width: 100vw;
    max-height: 50vh;
}

dialog form article {
    display: flex;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: stretch;
    flex-flow: column;
    overflow: hidden;
}

dialog form h1 {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.1rem;
    margin: 0;
}

dialog form ul {
    overflow: auto;
    padding: 0;
}

dialog form footer {
    grid-area: 3;
}

dialog form li {
    list-style: none;
    display: flex;
    flex-flow: column;
}

dialog form li:nth-child(2n) {
    background: rgba(255, 255, 255, 0.025);
}

dialog form label {
    white-space: nowrap;
    overflow: hidden;
    text-wrap: ellipsis;
    padding: 0.5rem;
    transition: all 0.2s ease;
}

dialog form li input {
    display: none;
}

dialog form li input:checked + label {
    background: rgba(255, 255, 255, 0.7);
}