.dialog {
    background: rgba(0, 0, 0, 0.65);
    color: white;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
    padding: 0;
    width: 70ch;
    max-width: 100vw;
    transition: all 0.5s ease;
    top: 30%;
    left: 0%;
    position: absolute;
    display: block;
}

@keyframes dialogOpen {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

dialog[open] {
    animation: dialogOpen 0.2s ease running;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
    animation: dialogOpen 0.2s ease running;
}

dialog h1, p {
    text-align: center;
}
