{
  "presets": [
    ["preact-cli/babel", { "modules": "commonjs" }]
  ],
  "plugins": [
    ["transform-inline-environment-variables", {
      "include": [
        "REACT_APP_ENV",
        "SERVICE_URI",
        "COOKIE_DOMAIN"
      ]
    }]
  ]
}
