main {
	color: white;
	flex-basis: 50%;
    flex-shrink: 1;
    margin: 0px;

    overflow: hidden;
	/* white-space: nowrap; */
    text-overflow: ellipsis;
    display: flex;
}

footer {
    text-align: center;
    margin-top: 5rem;
}

main h1 {
    margin: 0px;
    padding: 0.75rem;
	text-align: center;
}

article h2, article p {
    margin: 0px;
    padding: 0.75rem;
    text-align: justify;
    width: 50%;
}