.chart {
    align-self: center;
    width: 80%;
    height: 25rem;
    display: flex;   
    flex-direction: column;
}

.container {
    margin-top: 10%;
    align-self: center;
    width: 80%;
    height: 25rem;
    display: flex;
    align-items: flex-end;
}

.bar {
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    display: flex;
    background-color: rgba(255, 80, 80, .5);
    flex: 1;
    /* height: 100%; */
    margin-right: .5em;
}

.bar:hover {
    background-color: rgba(255, 80, 80, 0.9);
}

.barContainer {
    height: auto;
}

.label {
    position: relative;
    top: -2.5rem;
    text-align: center;
}

.date {
    /* transform-box: stroke-box; */
    transform: rotate(50deg);
}


  
.graph .labels.x-labels {
text-anchor: middle;
}

.graph .labels.y-labels {
text-anchor: end;
}
  
  
.graph {
    height: 500px;
    width: 800px;
}

.svgBox {
    align-self: stretch;
}

.grid {
    stroke: #ccc;
    stroke-dasharray: 0;
    stroke-width: 1;
}
  
  .labels {
    font-size: 13px;
  }
  
  .label-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    fill: black;
  }
  
  .data {
    fill: red;
    stroke-width: 1; 
  }