body {
	background: top/cover fixed url("../assets/img/background.jpg");
	margin: 0;
	font-family: 'DM Sans', sans-serif;
	max-width: 100vw;
	height: 100vh;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	display: flex;
	flex-flow: column;
}

main {
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-flow: column;
	width: 80ch;
	border-radius: 3px;
	box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
	align-self: center;
	max-width: 100%;
	max-height: calc(100% - 8rem);
	flex: 1;
}

::-webkit-scrollbar {
	width: 1rem;
  height: 8px;
  background: transparent;
	display: initial;
	overflow: visible;
}

*::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0);
	background-clip: content-box;
	border: 0.25rem solid transparent;
	border-radius: 0.5rem;
	transition: all 5s ease;
}

*:hover::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
	background-clip: content-box;
}

main .item-actions.actions * {
	margin: 0;
}

main .item-actions.actions i.material-icons {
	font-size: 1.2rem;
	padding: 0;
}

main footer, dialog footer {
	align-self: stretch;
	height: 3.5rem;
	flex-shrink: 0;
}

main table tbody {
	overflow-y: auto;
}

main table {
	align-self: stretch;
	border: none;
	border-collapse: collapse;
	width: 100%;
	flex-grow: 1;

	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-flow: column;
}

aside button {
	padding: 0.5rem;
}

main table tr {
	display: flex;
	align-items: stretch;
}

main table th, main table td {
	padding: 0.75rem;
	color: white;
	text-align: center;
	flex-basis: 50%;
	flex-shrink: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

main table th:last-child, main table td.actions {
	padding: 0.50rem;
	padding-bottom: 0;
	flex-basis: 6.6rem;
	flex-shrink: 0;
	flex-grow: 0;

}

main table tr:nth-child(2n) {
	background: rgba(255, 255, 255, 0.025);
}

main table th {
	background: rgba(0, 0, 0, 0.1);
}

main table th:last-child, main table td.item-actions.actions {
	width: 6rem;
}

.actions * {
	background: none;
	border: none;
	color: rgba(255, 255, 255, 0.5);
	padding: 0.2rem;
	margin: 0.3rem;
	height: 2rem;
	width: 2rem;
	vertical-align: middle;
}

.actions i.material-icons {
	font-size: 2rem;
	transition: all 0.2s ease;
}

.actions:not(.item-actions) i.material-icons {
	position: relative;
	top: -0.7rem;
	left: -0.7rem;
}

.actions a:hover, .actions a:hover i.material-icons, .actions button:hover, .actions button:hover i.material-icons {
	color: white;
	text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.7);
}

.actions a:focus, .actions a:focus i.material-icons, .actions button:focus, main .actions button:hover i.material-icons {
	color: white;
	text-shadow: 0 0 1rem rgba(255, 255, 255, 0.3);
}

.actions a:hover, .actions a:hover i.material-icons.danger, .actions button:hover, .actions button:hover i.material-icons.danger, :hover.danger {
	color: rgba(255, 80, 80, 0.7);
	text-shadow: 0 0 0.5rem rgba(255, 80, 80, 0.7);
}

@keyframes pending {
	0% { color: rgba(51, 217, 255, 0.7); text-shadow: 0 0 0.0rem rgba(51, 217, 255, 0.3); }
  100% { color: rgba(51, 217, 255, 1.0); text-shadow: 0 0 0.4rem rgba(51, 217, 255, 1.0); }
}

.actions.item-actions i.material-icons.pending {
	animation: pending 0.2s ease 0s infinite alternate both running;
}

@keyframes success {
	0% { color: rgba(127, 255, 51, 0.7); text-shadow: 0 0 0.0rem rgba(127, 255, 51, 0.3); }
  100% { color: rgba(127, 255, 51, 1.0); text-shadow: 0 0 0.4rem rgba(127, 255, 51, 1.0); }
}

.actions.item-actions i.material-icons.success {
	animation: success 1s ease 0s infinite alternate both running;
}

@keyframes warning {
	0% { color: rgba(255, 127, 51, 0.7); text-shadow: 0 0 0.0rem rgba(255, 127, 51, 0.3); }
  100% { color: rgba(255, 127, 51, 1.0); text-shadow: 0 0 0.4rem rgba(255, 127, 51, 0.7); }
}

.actions.item-actions i.material-icons.warning {
	animation: warning 0.2s ease 0s infinite alternate both running;
}

.actions {
	display: flex;
	flex-flow: row;
	justify-content: center;
}



main .item-actions-radio.actions-radio * {
	margin: 0;
}

main .item-actions-radio.actions-radio i.material-icons {
	font-size: 2rem;
	padding: 0;
}


.actions-radio a:hover, .actions-radio a:hover i.material-icons, .actions-radio button:hover, .actions-radio button:hover i.material-icons {
	color: white;
	text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.7);
}

.actions-radio a:focus, .actions-radio a:focus i.material-icons, .actions-radio button:focus, main .actions-radio button:hover i.material-icons {
	color: white;
	text-shadow: 0 0 1rem rgba(255, 255, 255, 0.3);
}

.actions-radio a:hover, .actions-radio a:hover i.material-icons.danger, .actions-radio button:hover, .actions-radio button:hover i.material-icons.danger, :hover.danger {
	color: rgba(255, 80, 80, 0.7);
	text-shadow: 0 0 0.5rem rgba(255, 80, 80, 0.7);
}

@keyframes pending {
	0% { color: rgba(51, 217, 255, 0.7); text-shadow: 0 0 0.0rem rgba(51, 217, 255, 0.3); }
  100% { color: rgba(51, 217, 255, 1.0); text-shadow: 0 0 0.4rem rgba(51, 217, 255, 1.0); }
}

.actions-radio.item-actions-radio i.material-icons.pending {
	animation: pending 0.2s ease 0s infinite alternate both running;
}

@keyframes success {
	0% { color: rgba(127, 255, 51, 0.7); text-shadow: 0 0 0.0rem rgba(127, 255, 51, 0.3); }
  100% { color: rgba(127, 255, 51, 1.0); text-shadow: 0 0 0.4rem rgba(127, 255, 51, 1.0); }
}

.actions-radio.item-actions-radio i.material-icons.success {
	animation: success 1s ease 0s infinite alternate both running;
}

@keyframes warning {
	0% { color: rgba(255, 127, 51, 0.7); text-shadow: 0 0 0.0rem rgba(255, 127, 51, 0.3); }
  100% { color: rgba(255, 127, 51, 1.0); text-shadow: 0 0 0.4rem rgba(255, 127, 51, 0.7); }
}

.actions-radio.item-actions-radio i.material-icons.warning {
	animation: warning 0.2s ease 0s infinite alternate both running;
}

.actions-radio {
	display: flex;
	flex-flow: row;
	justify-content: center;
}

::selection {
	text-shadow: 0 0 0.5rem #80BFFF;
	background: transparent;
	color: #80BFFF;
}


.rotate {
	animation: rotation 2s 3 linear;
	/* display: block; */
}

.rotate-infinite {
	animation: rotation 2s infinite;
}

.removed {
    opacity: 0;
}

h1 {
	color: #fff;
	text-align: center;
}

h2 {
	color: #fff;
}

dialog form li input:checked + label {
    background: repeating-linear-gradient(
    135deg,
    rgba(11,11,11, 0.1),
    rgba(11,11,11, 0.1) 20px,
    rgba(255,255,255, 0.2) 20px,
    rgba(255,255,255, 0.2) 40px
  );
}

.item-anim {
    animation: 3s ease-in infinite move_bar;

}

.top-right {
    top: 1em;
    right: 1em;
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;
}

.bottom-right {
    bottom: 1em;
    right: 1em;
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;
}

.top-left {
    top: 1em;
    left: 1em;
    transition: transform .6s ease-in;
    animation: toast-in-left .7s;
}

.bottom-left {
    bottom: 1em;
    left: 1em;
    transition: transform .6s ease-in;
    animation: toast-in-left .7s;
}

.graphLabel {
	display: none;
	font-weight: bolder;
}

.graphPoint:hover + .graphLabel {
	display: unset;
}

.notificationContainer {
    font-size: 14px;
    box-sizing: border-box;
    position: fixed;
    z-index: 999999;
}

.notification {
	background: #fff;
	text-align: center;
	transition: .3s ease;
	position: relative;
	pointer-events: auto;
	border-radius: 3px 3px 3px 3px;
	margin-bottom: 1rem;
	box-shadow: 0 0 10px #999;
}

.notification:hover {
	box-shadow: 0 0 12px #fff;
	opacity: 1;
	cursor: pointer
}

.notificationTitle {
	/* font-weight: 700; */
	font-size: 1.4rem;
	/* text-align: left; */
	margin-top: 0;
	margin-bottom: 6px;
    height: 1.4rem;
}

.notificationDescription {
	font-size: 1.2rem;
	margin: 0;
	text-align: center;
    height: 2rem;
    margin-left: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.toast {
    height: 5rem;
    width: 35rem;
	color: #fff;
	padding: 20px 15px 10px 10px;
}

.notificationContainer button:hover {
	border: .1em solid;
}

.notificationContainer button {
	position: relative;
	right: -.3em;
	top: -.3em;
	float: right;
	font-weight: 700;
	color: #fff;
	outline: none;
	border: none;
	text-shadow: 0 1px 0 #fff;
	opacity: .8;
	line-height: 1;
	font-size: 16px;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0
}

@keyframes toast-in-right {
	from {
	  transform: translateX(100%);
	  
	}
	to {
	  transform: translateX(0);
	}
}

@keyframes toast-in-left {
	from {
		transform: translateX(-100%);
		
	}
	to {
		transform: translateX(0);
	}
}

@keyframes move_bar {
    from { background-position: 0px 0px}
    to {background-position: 500px 0px}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (max-width: 80ch) {
	main {
		border-radius: 0;
	}
}

@media (max-width: 100ch) {
	dialog {
		border-radius: 0;
	}
}
